node_modules/

.expo/
dist/
web-build/
expo-env.d.ts

ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env*.local
.env

*.tsbuildinfo
.vercel

assets/tts/model.onnx
assets/tts/voice_speeds.json
assets/tts/config.json
assets/tts/voices/*.pt
assets/tts/voices/*.bin
